<header class="header">
  <span class="logo">{{ appName }}</span>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Accueil</a>
    @if(authService.isAuthenticated()){
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
    }

  </nav>
  @if(authService.isAuthenticated()){
    <span>{{ authService.currentUser()?.name }}</span>
    <button mat-flat-button color="primary" (click)="onLogout()">Se déconnecter</button>
  } @else {
    <a mat-flat-button color="primary" routerLink="/login">Connexion</a>
  }
</header>
